@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your local parks and recreation finder!</h1>
    <p>@Html.ActionLink("See all Parks", "Index", "Parks")</p>
    </div>
